# Python Assignment - 2
### Carries - 30 marks

## What is List? How will you reverse a list?

In [ ]:
#an ordered and changeable collection of data objects known as the list.
#following are methods to reverse a list:
#using reverse() method
my_list.reverse
#using reversed(method)
reversed(my_list)

In [1]:
my_numbers = [1, 2, 3, 4, 5]
my_numbers.reverse()
print(my_numbers)

[5, 4, 3, 2, 1]

# How will you compare two lists?

###  How will you remove last object from a list? Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

In [10]:
list1 = [2,33,222,14,25]

In [11]:
list1.remove(14)

In [12]:
print(list1)

[2, 33, 222, 25]

In [ ]:
In list1[-1] is 25

### Differentiate between append () and extend () methods?

In [ ]:
#append :
#it is the method addition of privious element
#this functioninserts single element into an existing list
* syntax
list.append(item)

In [14]:
list1 = [1,2,3,4,5]

In [16]:
list1.append(6,)

In [17]:
print(list1)

[1, 2, 3, 4, 5, 6]

In [ ]:
#extend :
#the python's list extend()iterates over its argument and adding each element to the list and extending the list.
*syntax
list.extend(iterable)
#iterable are(list,set,tuple,etc.)

In [22]:
list2 = [7,8,9]

In [23]:
list3 = [10,11,12,13]

In [24]:
list2.extend(list3)
print(list2)

[7, 8, 9, 10, 11, 12, 13]

In [25]:
x = [1,2,3]

In [28]:
y = [4,5,6]

In [29]:
x.extend(y)
print(x)

[1, 2, 3, 4, 5, 6]

### Write a Python program to find the second smallest number in a list.

In [11]:
def sec_num(numbers):
    x1 = x2 = float('inf')
    for i in numbers:
        if i<= x1:
            x1,x2=i,x1
        elif i<x2:
            x2 = i
    return x2

In [12]:
sec_num([1,2,3,4,8,6,9,10])

2

### Write a Python program to find the length of a tuple.

In [ ]:
len()

In [49]:
tuple =(123, 'xyz')
print(len(tuple))

2

## Write a Python program to reverse a tuple.

In [54]:
tuples = (1,2,3,4,5,6)

In [64]:
def reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup

In [65]:
tuples = (1,2,4,5,7,9)

In [66]:
print(reverse(tuples))

(9, 7, 5, 4, 2, 1)

In [67]:
tuples = [2,3,4,5]

In [68]:
tuple = tuples[::-1]

In [69]:
print(reverse(tuples))

[5, 4, 3, 2]

### Write a Python program to remove duplicates from a list.

In [70]:
list = [1,1,2,2,3,4,5]

In [71]:
set(list)

{1, 2, 3, 4, 5}

In [ ]:
#using set() we can avoid repetation

## Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [12]:
my_list =  [1,2,2,3,1,4,5,4,2]
print("original list : ",my_list)
my_set = set(my_list)
my_new_list = list(my_set)
print("list of unique elements: ",my_new_list)

original list :  [1, 2, 2, 3, 1, 4, 5, 4, 2]
list of unique elements:  [1, 2, 3, 4, 5]

###  Write a Python program to check a list is empty or not.

In [89]:
def enquiry(list1):
    if not list1:
        return 1
    else:
        return 0
    
list1 = []
if enquiry(list1):
    print("the list is empty")
else:
    print("the is not empty")

the list is empty

### Write a Python function to get the largest number, smallest num and sum of all from a list.

In [1]:
numbers = [3,1,3,5,6,23,123,5]

min = numbers[0]
max = numbers[0]

for i in range(len(numbers)):
    if numbers[i] > max:
        max = numbers[i]
    elif numbers[i] < min:
        min = numbers[i]
print("min:",min)
print("max:",max)

min: 1
max: 123

### Write a Python program to get unique values from a list

In [91]:
my_list = [10,20,20,10,30,40,50,40,30,20,60]

In [92]:
set(my_list)

{10, 20, 30, 40, 50, 60}

### Write a Python program to split a list into different variables.

In [1]:
color = [("black", "#000000", "rgb(0,0,0)"),("red", "#ff0000", "rgb(255,0,0)")]
var1, var2 = color
print(var1)
print(var2)

('black', '#000000', 'rgb(0,0,0)')
('red', '#ff0000', 'rgb(255,0,0)')

### Write a Python program to check whether an element exists within a tuple

In [2]:
tuples = ("e" , "d", "u", "o", "n", "i", "x")
print("d" in tuples)
print(3 in tuples)

True
False

### Write a Python program to convert a list to a tuple.

In [117]:
my_list = ['spark', 'python', 'pandas', 'machine learning']
tuples = (*my_list,)

In [118]:
print(tuples)

('spark', 'python', 'pandas', 'machine learning')

In [1]:
my_list = [22, 42, 54, 64]

In [3]:
tuples = (*my_list,)

In [4]:
print(tuples)

(22, 42, 54, 64)

### Write a Python program to find the repeated items of a tuple.

In [5]:
tuples = (2,4,5,6,2,3,4,4,7)
print(tuple)
count = tuples.count(4)
print(count)

<class 'tuple'>
3

###  Write a Python program to remove an empty tuple(s) from a list of tuples

In [4]:
def Remove(tuples):
    tuples = [t for t in tuples if t]
    return tuples

In [7]:
tuples = [(), ('ram', '15', '8'), (), ('laxman', 'sita'), ('krishna' , 'radha', '99'), ('',''), ()]

In [8]:
print(Remove(tuples))

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'radha', '99'), ('', '')]

### Write a Python program to unzip a list of tuples into individual lists.

In [5]:
l = [(1,2), (4,5), (6,7)]

In [6]:
print(list(zip(*l)))

[(1, 4, 6), (2, 5, 7)]

### Write a Python function to check whether a number is in a given range

In [22]:
def test_range(n):
    if n in range(3,9):
        print(" %s is in the range"%str(n))
    else:
         print("the number is outside the given range.")
test_range(5)

 5 is in the range

In [23]:
test_range(12)

the number is outside the given range.

### Write a Python function that checks whether a passed string is palindrome or not

In [4]:
def ispalindrome(s):
    return s == s[::-1]

s = "marathi"
ans = ispalindrome(s)
if ans :
    print("yes")
else:
    print("no")

no

### Write a Python program to returns sum of all divisors of a number

In [24]:
def sum_div(number):
    divisors = [1]
    for i in range(2, number):
        if(number % i)==0:
            divisors.append(i)
            return sum(divisors)
print(sum_div(6))
print(sum_div(10))

3
3

### Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.

### Write a Python program to calculate the area of a parallelogram

In [1]:
base = float(input('length of base: '))
height = float(input('measurement of height: '))
area = base * height
print("Area is: ", area)

length of base: 5
measurement of height: 6
Area is:  30.0

### Write a Python function to check whether a number is perfect or not.

In [ ]:
n =

### Write a Python program to convert degree to radian

In [2]:
pi = 22/7
def degrees_to_rads(deg):
    return (deg * pi) / 180.0
print(degrees_to_rads(180))
print(degrees_to_rads(90))

3.142857142857143
1.5714285714285714

###  Write a Python program to calculate the area of a trapezoid

In [4]:
pi = 22/7
height = float(input('height of the cylinder: '))
radian = float(input('radian of the cylinder: '))
volume = pi * radian * radian * height
sur_area = ((2*pi*radian) * height) + ((pi*radian**2)*2)
print("Volume is: ", volume)
print("Surface Area is: ", sur_area)

height of the cylinder: 4
radian of the cylinder: 6
Volume is:  452.57142857142856
Surface Area is:  377.1428571428571

In [3]:
base_1 = 5
base_2 = 6
height = float(input("height of trapezoid: "))
base_1 = float(input('base one value: '))
base_2 = float(input('base two value: '))
area = ((base_1 + base_2) / 2) * height
print("Area is:", area)

height of trapezoid: 6
base one value: 10
base two value: 5
Area is: 45.0

## Write a Python program to calculate surface volume and area of a cylinder

In [2]:
pi = 22/7
height = float(input('height of cylinder: '))
radian = float(input('radius of cylinder: '))
volume = pi * radian * height
sur_area = ((2*pi*radian) * height) + ((pi*radian**2)*2)
print("Volume is: ", volume)
print("Surface Area is: ", sur_area)

height of cylinder: 4
radius of cylinder: 6
Volume is:  75.42857142857143
Surface Area is:  377.1428571428571